<div class="job card blue-grey lighten-5 z-depth-3">
	<% if job.user.id == current_user.id %>
		<div class="edit">
			<%= link_to '<i class="tiny material-icons">edit</i>'.html_safe, edit_job_path(job) %>
		</div>
	<% end %>

	<div class="title">
		<b> Title: </b> <br>
		<%= link_to job.job_name, job_path(job) %>
	</div>
		
	<div class="description">
		<p><b>Details: </b> <br>
			<%= job.description %>
		</p>
	</div>

	<div class="details">
		<ul>
			<li><b>Contract Offer From:</b><br>
				<%= link_to job.user.username, user_path(job.user) %>
			</li>
			<br>
			<li><b>Cost: </b><%= job.cost %></li>
			<li><b>Total Containers Required: </b><%= job.containers %></li>
			<li><b>Origin: </b><%= job.origin %></li>
			<li><b>Destination: </b><%= job.destination %></li>
		</ul>
	</div>

	<div class='ships_under_contract'>
		<% @ship_containers = 0 %>
		<b>Ships Currently Contracted for this Job: </b>
		<ul class="current_ships<%= job.id %>">

			<% if @contracted.where(job_id: job.id).exists? %>
				<% @contracts = @contracted.where(job_id: job.id).all %>
				<% @contracts.each do |contract| %>
					<% @under_contract = Boat.find_by(id: contract.boat_id) %>
					<%= render :partial => 'boats/under_contract', locals: {under_contract: @under_contract} %>
					<% @ship_containers += @under_contract.containers %>
	      <% end %>
			<% end %>
		</ul>
		<div class="needed">
			<b>Containers Still Needed: </b> <br>
			<%= @needed = job.containers - @ship_containers %>
			<% if (job.containers - @ship_containers) <= 0%>
				<% @contracts.each do |contract| %>
					<% @under_contract = Boat.find_by(id: contract.boat_id).update(under_contract: false) %>
					<% @under_contract = Boat.find_by(id: contract.boat_id).update(location: job.destination) %>
				<% end %>
				<%= job.update(open: false) %>
				<%= job.update(complete: true) %>
				
			<% end %>
		</div>
	</div>

	<div class="bid">
		<% if @boats.where(location: job.origin).exists? %>
			<% @avail_boats = @boats.where(location: job.origin).all %>
			<% if @avail_boats.where(under_contract: false).exists? %>
				<%= render :partial => 'jobs/contract_form', locals: {job: job} %>
			<% end %>
		<% end %>
	</div>
	<% if job.user.id == current_user.id and job.complete = false%>
		
		<button>
			<%= link_to "Cancel Job", job, method: :delete, :class => 'destroy_job', remote: true %>
		</button>
	<% end %>

</div>

