<div class="job">
	<div class="title">
		<p><b> Title: </b> <br>
			<%= job.job_name %>
		</p>
	</div>
	<div class="description">
		<p><b>Details: </b> <br>
			<%= job.description %>
		</p>
	</div>
	<div class="details">
		<ul>
			<li><b>Cost: </b><%= job.cost %></li>
			<li><b>Containers Required: </b><%= job.containers %></li>
			<li><b>Origin: </b><%= job.origin %></li>
			<li><b>Destination: </b><%= job.destination %></li>
		</ul>
	</div>
</div>