<div class="job card grey lighten-4 z-depth-3">
	<% if job.user.id == current_user.id %>
		<div class="edit">
			<%= link_to '<i class="tiny material-icons">edit</i>'.html_safe, edit_job_path(job) %>
		</div>
	<% end %>

	<div class="title">
		<b> Title: </b> <br>
		<%= job.job_name %>
	</div>
		
	<div class="description">
		<p><b>Details: </b> <br>
			<%= job.description %>
		</p>
	</div>
	<div class="details">
		<ul>
			<li><b>Cost: </b><%= job.cost %></li>
			<li><b>Containers Required: </b><%= job.containers %></li>
			<li><b>Origin: </b><%= job.origin %></li>
			<li><b>Destination: </b><%= job.destination %></li>
		</ul>
	</div>
	<div class="current_ships">
		<b>Ships Currently Contracted for this Job: </b>
		<ul>
			<% @contracted.where(job_id: job.id).each do |ships| %>
				<% if @all_boats.where(id: ships.boat_id).exists? %>
					<li><%= @all_boats.find_by(id: ships.boat_id).ship_name %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="bid">
		<% if @boats.where(location: job.origin).exists? %>
			<%= render :partial => 'jobs/contract_form', locals: {job: job} %>
		<% end %>
	</div>
	<% if job.user.id == current_user.id %>
		
		<button>
			<%= link_to "Cancel Job", job, method: :delete %>
		</button>
	<% end %>

</div>

