<% if !@user %>
	
	<a class="waves-effect waves-light btn blue-grey darken-3" id='new-job-button' href="" onclick="$('#new-job').toggle(); event.preventDefault()">Submit New Job Request
	</a>
	<div id="new-job">
	 	<%= render 'jobs/form' %>
	</div>

<% end %>

<% if @user %>
		
		<% @user_jobs.each do |job| %>
			<% if job.complete = false %>
			<div class="jobs">
				<%= render job %>
			</div>
			<% else %>
			<div class="closed-jobs">
				<%= render :partial => 'jobs/closed_job', locals: {job: job} %>
			</div>
			<% end %>
		<% end %>


<% else %>

	<div class="jobs">
		<% @jobs.each do |job| %>
			<%= render job %>
		<% end %>
	</div>

	<div class="closed-jobs">
		<h3 class="header-label card blue-grey lighten-2 z-depth-3">Closed Jobs: </h3>

		<% @closed_jobs.each do |closed_job| %>
			<%= render :partial => 'jobs/closed_job', locals: {job: closed_job} %>
		<% end %>
	</div>

<% end %>