<div class="user card blue-grey lighten-4 z-depth-3">
	<div class="username">
		<h3><%= link_to user.username, user %></h3>
	</div>
	<div class="profile-pic">
		<% if user.avatar? %>
			<%= image_tag user.avatar.url(:thumb) %>
		<% end %>
	</div>
	<div class="information">
		<ul>
			<li><b>Name: </b><%= user.first_name %> <%= user.last_name %></li>
			<li><b>Company: </b><%= user.company %></li>
			<li><b>Ships in Fleet: </b>
				<% if user.boats.count > 0 %>
					<%= link_to user.boats.count, user_boats_path(user) %>
				<% else %>
					<%= user.boats.count %>
				<% end %>
			</li>
			<li><b>Current Jobs: </b>
				<% if user.jobs.count > 0 %>
					<%= link_to user.jobs.count, user_jobs_path(user) %>
				<% else %>
					<%= user.jobs.count %>
				<% end %>
			</li>
		</ul>
	</div>
</div>