<div class="boat card blue-grey lighten-5 z-depth-3">
	<% if boat.user.id == current_user.id %>
		<div class="edit">
			<%= link_to '<i class="tiny material-icons">edit</i>'.html_safe, edit_boat_path(boat) %>
		</div>
	<% end %>
	<div class="title">
		<b> Ship Name: </b> <br>
			<%= boat.ship_name %>
	</div>
	<% if boat.avatar? %>
		<%= image_tag boat.avatar.url(:thumb) %>
	<% end %>
	<div class="description">
			<ul>
				<li><b>Ship's Owner:</b> <br>
					<%= link_to boat.user.username, user_path(boat.user) %>
				</li>
				<li><b>Current Location:</b> <br>
				<%= boat.location  %></li>
				<li><b>Capacity: </b><%= boat.containers %> Containers</li>
				<li>Under Contract:
					<% if boat.under_contract == true %>
						Yes
					<% else %>
						No
					<% end %>
				</li>
			</ul>
	</div>
	<% if boat.user.id == current_user.id %>
		
		<button>
			<%= link_to "Remove Ship From Fleet", boat, method: :delete, :class => 'destroy_boat', remote: true %>
		</button>
	<% end %>

</div>