<% if @boat.errors.full_messages.any? %>
	<ul>
		<% @boat.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<%= form_with model: @boat, local: true do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.text_field :ship_name, placeholder: 'Ship Name' %>
	<%= f.text_field :containers, placeholder: 'Containers' %>


	<%= f.select(:location) do %>
  	<option value="" disabled selected>Ship's Current Location</option>
  	
		<% [['Lisbon'], ['Madrid']].each do |c| %>
			<option value="<%= c.first %>"><%= c.first %></option>
   	<% end %>
  <% end %>
	<%= f.submit "Add Ship To Inventory", :class => "btn waves-effect waves-light blue darken-3" %>
	
<% end %>