<h2>Edit Account</h2>
<div class="account">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, :class => 'validate' %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, :class => 'validate' %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, :class => 'validate' %>
    </div>

    <div class="field">
      <%= f.label :company %><br />
      <%= f.text_field :company, :class => 'validate' %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :class => 'validate' %>
    </div>

    <div class="field">
      <% if resource.present? %>
        <%= image_tag resource.avatar.url(:thumb) %>
      <% end %>
      <br />
      <%= f.label :avatar, "Pix0rz" %> <br />
      <%= f.file_field :avatar %> 
    </div>
    <br>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", :class => "btn waves-effect waves-light blue darken-3" %>
    </div>
  <% end %>


  <p>Unhappy? <%= button_to "Delet My Account", registration_path(resource_name), :class => "waves-effect waves-light btn red accent-4", data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>